html, body {
  padding: 0px;
  margin: 0px;
}

.section p {
   color:white;
   font-size: 20px;
   font-family: "Raleway", sans-serif;
}
/* title page */
.main {
  height: 100%;
  z-index: 2;
  opacity: 1;
  background-image: url(img2.jpg);
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
}
.main .title {
  position: relative;
  top: 40%;
}
.main links{
  text-align: center;
}
.title {
  max-width: 100%;
}
.title h1 {
  z-index: 1;
  color:white;
  font-size:500%;
  /*font-family: 'Handlee', serif;*/
  font-family: "Averia Serif Libre", sans-serif;
  font-weight: 900;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
}
/* typewriter effect for welcome message */
.typing
{
  font: bold 100% "Quicksand", sans-serif;
  color: white;
  display: inline-block;
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 3s steps(50, end) alternate;
  animation: type 3s steps(50, end) alternate;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
/*
.title h3 {
	font: bold 100% "Quicksand", sans-serif;
  color: white;
	border-right: .1em solid white;
	width: 100%;
	width:22ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(22, end),
	           blink-caret .5s step-end infinite alternate;
} */
a:link {
  text-decoration: none;
  display: inline;
  font-size: 50px;
  color: white;

}

a:visited {
  color:white;
}
a:hover {
  color: #FFD700;
  text-decoration: none;
}
.btn {
  padding: 10px;
  width: 10px;
  height: 10px;
  margin: 10px;
}
/* end of title page */

  
