html, body {
  padding: 0px;
  margin: 0px;
}

.section p {
   color:white;
   font-size: 20px;
   font-family: "Raleway", sans-serif;
}
/* title page */
.main {
  height: 100%;
  z-index: 2;
  opacity: 1;
  /*background: url(https://uago.at/-da00/sgim.jpg) no-repeat;*/
  background-image: url(img2.jpg);
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
}
.main .title {
  position: relative;
  top: 40%;
}
.main links{
  text-align: center;
}
.title {
  max-width: 100%;
}
.title h1 {
  z-index: 1;
  color:white;
  font-size:500%;
  /*font-family: 'Handlee', serif;*/
  font-family: "Averia Serif Libre", sans-serif;
  font-weight: 900;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
}
/* typewriter effect for welcome message */
@-webkit-keyframes typing { from { width: 50%; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.title h3 {
	font: bold 100% "Quicksand", sans-serif;
  color: white;
	border-right: .1em solid white;
	width: 100%;
	width:22ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 4s steps(22, end),
	           blink-caret .5s step-end infinite alternate;
}
a:link {
  text-decoration: none;
  display: inline;
  font-size: 50px;
  color: white;

}

a:visited {
  color:white;
}
a:hover {
  color: #FFD700;
  text-decoration: none;
}
.btn {
  padding: 10px;
  width: 10px;
  height: 10px;
  margin: 10px;
}
/* end of title page */
/* about me section */
.img {
  border-radius: 50%;
  display: inline;
  float: left;
}
.section .aboutme {
  padding: 0;
  margin: 0;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-color: #F0E68C;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  text-align: left;
  color: black;
  position: relative;
}
.aboutme h1{
  padding-left: 20px;
  color: black;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
}
.aboutme {
  max-width: 100%;
}
.aboutme p {
  display:inline-block;
  color: black;
}
/* end of about me section */
/* skills section */
.section .skills {
  padding: 0;
  margin: 0;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-color: #F5FFFA;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  text-align: left;
  color: black;
  position: relative;
}
.skills {
  max-width: 100%;
}
.skills h1{
  padding-left: 20px;
  color: black;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
}

/* end of skills section */
